  <title>TinyApp</title>


<% if(!username){%>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<%}%>


<% if(username){%>
  <p><%= username %></p>
  <form method="POST" action="/logout">
  <input type="submit" value="logout">
  </form>
<% }%>