  <title>TinyApp</title>

<% if(username === undefined){%>
  <form method="POST" action="/login">
    <input id="css" type="text" name="usrnme" placeholder="username">
    <input type="submit" value="submit">
  </form>
<%} else{ %>
  <p><%= username %></p>
  <form method="POST" action="/logout">
  <input type="submit" value="logout">
  </form>
<% }%>