<!DOCTYPE html>
<html lang="en">
<head>
  <header>
      <% include ./partials/_header %>
  </header>

</head>
<body>
  <% for (links in urls){ %>
    <form method="POST" action= "urls/<%= links %>/delete" >
    <ul>
        <li><%= urls[links] %> - <%= links %>
          <a href="/urls/<%= links %>"> edit </a>

          <button>delete</button></li>
    </ul>
    </form>
  <% }%>







</body>
</html>
